@charset "utf-8";

.body {
    width: 300px;
    height: 100px;
}

.teacher-quote {
    border: 2px solid #ccc;
    /* 枠線のスタイル */
    padding: 20px;
    /* 内側の余白 */
    position: relative;
}



.quote-header {
    position: absolute;
    top: -15px;
    /* 枠の上に配置 */
    left: 10px;
    /* 左寄せ */
    background-color: #fff;
    /* 背景色 */
    padding: 0 5px;
    /* 枠からの内側の余白 */
    font-weight: bold;
    /* 太字 */
}

.no-detail-message {
    font-size: 1.2rem;
    /* 例: 適切なフォントサイズを設定 */
    color: #888;
    /* 例: 適切なテキストカラーを設定 */
}
.linked-heading:hover {
        text-decoration: underline;
        cursor: pointer;
    }
